.shop-box {
    width: 23rem;
    padding: 2rem;
    border-radius: 1rem;
}

.shop-img {
    width: 10rem;
    margin-left: 8rem;
}

.btn {
    width: 9rem;
    height:3rem;
    font-size: 0.5rem;
}

.arrow-right {
    color: white;
}