// .card {
//     width: 90%;
//     height: 10vh;
// }

.hero-img {
    width: 2rem;
    color: green;
}

.card-cover {
   height: 13vh;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
}