.hero__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    @media screen and (max-width: 480px) {
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

.hero__img {
   width: 36%;
   @media screen and (max-width: 480px) {
    width: 75%;
   }
}

.hero__text {
    flex-direction: column;
    width: 50%;
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.certProd {
    max-width: 83%;
}

.easyReturns {
    max-width: 83%;
}

.hero__images {
    width: 2rem;
    color: green;
}

.product__item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
}

.product__container {
    background-color: #6c757d;
    color: white;
}

.hero__products {
    display: grid;
    gap: 1.5rem;
    padding: 3.2rem;
    background-color: rgb(29, 28, 28);
    grid-template-areas: 
      'item1 item2 item3 item4'
    ;
    @media screen and (max-width: 768px) {
        grid-template-areas: 
        'item1' 
        'item2' 
        'item3' 
        'item4'
        ; 
    }
}
